.b1{
    background-color: #008CBA;
    padding: 10px;
    color:white;
    font-size: 25px;
    border: none;
}
.b2{
    background-color: #4CAF50;
    padding: 10px;
    font-size: 25px;
    color:white;
    border: none;
}